<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <% locals.events.forEach(event => { %>
        <div class="column is-one-third-desktop is-half-tablet">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= event.name %>
              </p>
            </header>
            <a href="/events/<%= event._id %>">
              <div class="card-image">
                <figure class="image">
                  <img src="<%= event.imageCover %>" alt="<%= event.name %>">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">

                  <h5>About</h5>
                  <p><%= event.about %></p>
                </div>
                <% if(locals.isAuthenticated && event.hasAdmin(locals.currentUser)) { %>
                  <div class="ev-index-btns">
                    <hr />
                    <a class="button is-link" href="/events/<%= event._id %>/edit">Edit</a>

                    <form method="POST" action="/events/<%= event._id %>">
                      <input type="hidden" name="_method" value="DELETE" />
                      <button class="button is-text">Delete</button>
                    </form>
                  </div>
                <% } %>
              </div>
            </a>
          </div>
        </div>
      <% }) %>
      <div class="column is-one-third-desktop is-half-tablet">
        <div class="card">
          <p>ready for next adventure...</p>
          <img src="assets/images/6971.jpg" alt="image of book">
          <a class="button is-link" href="/events/new">Create new event</a>
        </div>
      </div>

    </div>
  </div>
</section>
