<script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>

<header class="ev-show">
  <figure>
    <img class="cover-image" src="<%= event.imageCover %>" alt="<%= event.name %>" height="200" />
    <h1><%= event.name %></h1>
  </figure>
</header>

<% if( !locals.isAuthenticated ) { %>
  <section class="ev-show-auth">
    <div class="card">
      <p> Pleas signup or login to watch this page </p>

      <a href="/register">
        <button class="button">Signup</button>
      </a>

      <a href="/login">
        <button class="button">Login</button>
      </a>
    </div>
  </section>
<% } else if(locals.isAuthenticated && !event.hasMember(locals.currentUser)) { %>

  <form method="POST" action="/events/<%= event._id %>/join">
    <button>
      join
    </button>
  </form>

<% } else if(locals.isAuthenticated && event.hasMember(locals.currentUser)) { %>

  <!-- navbar -->
  <nav class="content event-menu ev-show">

    <button class="button is-small is-link" id="addPhoto">add Photo</button>

    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a href="#ev-photos">Photos</a></li>
        <li><a href="#ev-congrates">Congrates</a></li>
        <li><a href="#ev-about">About</a></li>
      </ul>
    </div>

  </nav>

  <!-- Photos -->
  <section class="ev-show-photos">

    <!-- Photos - Add new photo -->
    <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <h2 class="title"> Upload Photo</h2>
      <div class="ev-new-photo">
        <form method="POST" action="/events/<%= event._id %>/photos">
          <div class="field">
            <div class="control">
              <input class="input" name="caption" id="caption" placeholder="Add caption" />
            </div>
          </div>
          <div class="file has-name is-fullwidth">
            <label class="file-label" for="picture-name">
              <input class="file-input" type="file" name="picture-name">
              <span class="file-cta" id="picker">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a picture…
                </span>
              </span>
              <span class="file-name" id="fileupload">
                image name
              </span>
            </label>
            <input id="picture" name="url" type="hidden">
          </div>

          <button class="button is-primary">Submit</button>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>


    <%# ---- Photos - show all photos ---- %>
    <% event.photos.forEach(photo => { %>
      <div class="card" id="<%= photo._id %>">

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="<%= photo.user.picture %>" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= photo.user.fullName %></p>
              <p class="subtitle is-6">
                <time><%= photo.time.toDateString() %></time>
              </p>
            </div>
          </div>
        </div>

        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= photo.url %>" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content likes">
        <% if(photo.likes.find(el => el._id.equals(locals.currentUser._id))) {%>
            <button>
              <span class="icon is-medium">
                <i class="fas fa-2x fa-heart"></i>
              </span>
            </button>
        <% } else { %>
          <form method="POST" action="/events/<%= event._id %>/photos/<%= photo._id %>/like">
            <button>
              <span class="icon is-medium">
                <i class="far fa-2x fa-heart"></i>
              </span>
            </button>
          </form>
        <% } %>
        </div>
        <div class="card-content info">
          <p><strong> <%= photo.likes.length %>  likes</p></strong>
          <div class="content">
            <p> <%= photo.caption %> </p>
          </div>
        </div>
      </div>

    <% }) %>

  </section>

  <%# ---- Congrates ---- %>

  <section id="ev-congrates">
    <hr>

    <h2 class="title">Congrates</h2>

    <% event.comments.forEach(comment => { %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="<%= comment.user.picture %>">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= comment.user.fullName %></strong>
              <br>
              <%= comment.content %>
            </p>
          </div>
        </div>
        <% if(locals.isAuthenticated && event.user && locals.currentUser._id.equals(event.user._id)) { %>
          <div class="media-right">
            <form method="POST" action="/events/<%= event._id %>/comments/<%= comment._id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="delete"></button>
            </form>
          </div>
        <% } %>
      </article>
    <% }); %>


    <article class="media">
      <div class="media-content">
        <form method="POST" action="/events/<%= event._id %>/comments">
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="content" placeholder="Add a comment..."></textarea>
            </div>
          </div>
          <button class="button is-primary is-link">Submit</button>
        </form>
      </div>
    </article>
  </section>


  <%# ---- About ---- %>
  <section class="ev-show-about">
    <hr>

    <h2 class="title">About</h2>

    <p><%= event.about %></p>

    <p class="location">
      <span class="icon">
        <i class="fas fa-map-marker-alt fa-2x"></i>
      </span>
      <%= event.location %>
    </p>

    <p>
      <span class="icon">
        <i class="far fa-clock fa-2x"></i>
      </span>
      <time datetime="<%= event.startTime %>"><%= event.startTime %></time>
    </p>

    <h3 class="subtitle">Members</h3>
    <div class="columns">
    <% event.members.forEach( member => { %>
      <div class="column is-one-fifth">

        <div class="member-picture">
          <figure class="image is-64x64">
            <img class="is-rounded" src="<%= member.user.picture %>">
          </figure>
        </div>

        <div class="member-name">
          <p>
            <%= member.user.fullName %></br>
            <% if(locals.currentUser._id.equals(member.user._id)){ %>
              (You)
            <% } %>
          </p>
        </div>

      </div>
    <% }); %>
  </section>

<% } %> <%# if isAuthenticated %>
